.bodyStyle {
    margin: 0;
    background: linear-gradient(to bottom, rgb(92, 117, 92), #e9e9db);
    min-height: 100vh;
  }
  
  .containerStyle {
    text-align: center;
    width: 100%;
  }
  
  .headingStyle {
    color: rgb(200, 204, 200);
    padding: 50px;
    font-size: 80px;
    transition: all 1s;
  }
  
  .headingStyle.hovered {
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
  }
  
  .paragraphStyle {
    text-align: left; 
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px; 
    line-height: 1.5; 
    font-size: 20px;
    line-height: 1.8;
    margin-left: 20px;
  }
  

  
  .heading {
    color: rgb(200, 204, 200);
    padding: 50px;
    font-size: 50px;
    transition: all 2s;
  }

  .scroll-button{
    background: none; 
    border: none; 
    position: relative; 
    top: -30px;
  }

  .scroll-button img {
    width: 30px; 
    height: auto;
    filter: hue-rotate(100deg);
    position: relative;
    animation: moveUpDown 0.5s ease-in-out infinite alternate;
  }

  @keyframes moveUpDown {
    0% {
      top: 0; 
    }
    100% {
      top: 10px; 
    }
  }